QtProject.conf
cef_user_data/
qBittorrent/
Code - OSS/
Code/
Kvantum/
Mousepad/
Thunar/
btop/
cava/
dconf/
dunst/dunstrc.bac
gtk-3.0/
neofetch/
nvtop/
nwg-look/
pavucontrol.ini
pulse/
qt5ct/
qt6ct/
swappy/
swaync/
systemd/
user-dirs.dirs
user-dirs.locale
xfce4/
xsettingsd/
yandex-disk/
